{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <h2 class="text-center m-5">Bienvenue sur <span class='title'>Bris'Kama</span> !</h2>
    <a href="{{ path('broker') }}" class="broker container">
        <img class="broker_top" src="{{ asset('build/images/Concasseur_Dofus_TOP.png') }}" alt="broker top">
        <img class="broker_bottom" src="{{ asset('build/images/Concasseur_Dofus_BOTTOM.png') }}" alt="broker bottom">
    </a>
{% endblock %}
