{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Broker
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('brokerJs') }}
{% endblock %}
{% block body %}
	<div class="item-container container p-3 mt-4 rounded">
		<div class="row search mb-3">
			{{ form_start(form) }}
			<div class="input-group">
				<span>
				{{ form_widget(form.server, { attr : { 'class' : 'form-select' }, 'data' : server }) }}
				</span>
				{{ form_widget(form.search) }}
				<button class="btn btn-secondary">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
					</svg>
				</button>
			</div>
			{{ form_end(form) }}
		</div>
		{% if item %}
			<div class="row container mb-2 justify-content-between">
				<h2 class="col-5">
					{{ item.name }}
					(Niv.
					{{ item.level }})
				</h2>
				<div class="server_ratio col-4">
					{% for itemServer in item.itemServers %}
					{% if server == itemServer.server %}
						{{ form_start(percentage) }}
						    <div class="input-group mb-3">
						    	<span class="input-group-text" id="basic-addon1">Taux
						    		{{ server.name | title }}
						    	</span>
						    		{{ form_widget(percentage.percentage, {
									
						    			attr: { 
						    				'class' : 'form-control',
						    				'value' :  itemServer.percentage, 
						    				}
						    			}) 
						    		}}
						    		<span class="input-group-text" id='basic-addon1'>%</span>
						            <button class="btn btn-secondary rounded-end">Sauvegarder</button>
						    </div>
							{{ form_widget(percentage.serverId, { attr : {
								'hidden' : 'true',
								'value' : server.id
								} })}}
							{{ form_widget(percentage.itemId, { attr : {
								'hidden' : 'true',
								'value' : item.id
							} })}}
						{{ form_end(percentage) }}
					{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="row">
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th scope="col">Caractéristiques</th>
							<th scope="col">Statistiques</th>
							<th scope="col">Prix unitaire</th>
							<th scope="col">Quantité (Focus)</th>
							<th scope="col">Prix (focus)</th>
							<th scope="col">Aucun focus</th>
						</tr>
					</thead>
					<tbody>
						{% for stat in item.ItemStatistics %}
							<tr>
								<th scope="row">{{ stat.statistic.name }}</th>
								<td>{{ stat.quantity }}</td>
								<td>{{ stat.statistic.rune.price ?: 'pas de prix' }}</td>
								<td>...</td>
								<td>...</td>
								<td>...</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}

	</div>
{% endblock %}
