{% extends 'base.html.twig' %}
{% block title %}Hello BrokerController!
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('brokerJs') }}
{% endblock %}
{% block body %}
	<div class="item-container container p-3 mt-4 rounded">
		<div class="row search mb-3">
			{{ form_start(form) }}
			<div class="input-group">
				<span>
					<select class="form-select ">
						{% for server in servers %}
							{% if loop.index == 0 %}
								<option value="{{ server.id }}" selected>{{ server.name }}</option>
							{% else %}
								<option value="{{ server.id }}">{{ server.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</span>
				{{ form_widget(form.search) }}
			</div>
			{{ form_end(form) }}
		</div>
		{% if item %}
			<div class="row container mb-2 justify-content-between">
				<h2 class="col-5">
					{{ item.name }}
					(Niv.
					{{ item.level }})
				</h2>
				<div class="server_ratio col-4">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Taux
							{{ servers[0].name | title }}
						</span>
						{% for itemServer in item.itemServers %}
							{% if servers[0] == itemServer.server %}
								<input type="text" class="form-control" placeholder="taux %" value="{{ itemServer.percentage }}" aria-label="Username" aria-describedby="basic-addon1">
								<span class="input-group-text" id='basic-addon1'>%</span>
								<button type="button" class="btn btn-secondary">Sauvegarder</button>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row">
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th scope="col">Caractéristiques</th>
							<th scope="col">Statistiques</th>
							<th scope="col">Prix unitaire</th>
							<th scope="col">Quantité (Focus)</th>
							<th scope="col">Prix (focus)</th>
							<th scope="col">Aucun focus</th>
						</tr>
					</thead>
					<tbody>
						{% for stat in item.ItemStatistics %}
							<tr>
								<th scope="row">{{ stat.statistic.name }}</th>
								<td>{{ stat.quantity }}</td>
								<td>{{ stat.statistic.rune.price ?: 'pas de prix' }}</td>
								<td>...</td>
								<td>...</td>
								<td>...</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}

	</div>
{% endblock %}
